
/* #region header */

.container-header {
    background-image: url('./img//16e83511-daa6-4418-ae34-942007dedae8.JPG');
   height: 60vh;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
   
 
  
    position: relative;
}
.container h1 {
     text-align: center;
     font-style: italic;
     font-size: 50px;
     
}
.container-content {
    background-color: black;
   height: 30vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: white;
}
.container p {
    font-size: 25px;
    font-style: italic;
}
header {
    padding: 30px;
    background-color: grey;
}
/* #endregion */

.overview {
    display: flex;
justify-content: space-between;
font-size: 20px;
}

.overview div {
    width: 15%;
    padding: 20px;
    background-color: bisque;
    height: 30vh;
    text-align: center;
    
}
.section1-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 background-color: black;
    padding: 30px;
  
}
.section1-header h1 {
    font-size: 50px;
    color: white;
}
.section1 {
  background-color: gray;
    padding: 40px;
}
.section1-header p {
  font-style: italic;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section1-header h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    


